
#logo{
  width:128px;height:92px;
  position: static;
  left: 0; right: 0;
}

.headline{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 92px;
  font-weight: bold;
  color: #32CD32 ;
  font-style: italic;
  left: 300px; top: -153px;
  position: relative;
}
a:hover{
  color: purple;
}

a{
  color: blue;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 23px;
  font-weight: bold;
}

#login{
  position: relative;   left: 1000px; top: -270px;
  right:1000px;
}

.space{
  padding-right: 15px;
}

footer{
	background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
	width: 100%;
  text-align: center;
  font: normal 18px sans-serif;
  padding: 45px;
	margin-top: 80px;
  color: white;
}

nav ul {
    list-style-type:georgian;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    top: -200px;
    position: relative;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.middle {

  top: -500px;
  left: 300px;
  position: relative;
<!--  height: 16px;
  width: 300px; -->

}
