<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
        var app = angular.module("firstapp",[]);
        app.controller("firstapp",function($scope)
        {
           $scope.name=Kalyani;
        });

        app.directive("test-derative",function()
        {
            return{
                template: "I am a diretive constructor"
            };
        });
    </script>
    <title>Angular.js</title>
</head>
<body ng-app="firstapp" data-ng-init="mycolor='red';student1={name:'Kalyani',age:24}">

<p>Name: <input type="text" data-ng-model="name"  /></p>
<p data-ng-bind="name"></p>

<p>Name: <input type="text" data-ng-model="name1" placeholder="Enter your name"/>
</p> Hello {{name1}}</p>

<p>Enter the color name: <input type="{{mycolor}}" style="background-color:{{mycolor}}" data-ng-model="mycolor"/>

<div ng-init="quantity=10; cost=20">
    <p>The output is {{quantity*cost}}</p>
<p>Name: {{student1.name}} Age:{{student1.age}}</p>

</div>

<p testderative></p>


</body>
</html>